server:
  port: 8080

spring:
  application:
    name: catalog-service

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      # 如果你 Redis 需要密码再加：
      # password: ${REDIS_PASSWORD:}

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:29092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      properties:
        enable.idempotence: true
        max.in.flight.requests.per.connection: 5
        request.timeout.ms: 30000
        delivery.timeout.ms: 120000
        retries: 2147483647

spanner:
  project-id: ${SPANNER_PROJECT:local-project}
  instance-id: ${SPANNER_INSTANCE:local-instance}
  database-id: ${SPANNER_DATABASE:local-db}
  emulator-enabled: ${SPANNER_EMULATOR_ENABLED:true}
  emulator-host: ${SPANNER_EMULATOR_HOST:localhost:9010}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
