SPANNER_PROJECT=local-project
SPANNER_INSTANCE=local-instance
SPANNER_DATABASE=local-db
SPANNER_EMULATOR_HOST=spanner:9010

KAFKA_BROKER=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INTERNAL=http://elasticsearch:9200

